<p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 xl:mb-0">
		</p>&copy; {new Date().getFullYear()} —
	<a href="https://datora.de" class="hover:underline" target="_blank"
		>Datora.de</a
	>. All rights reserved.
</p>
